@import './app.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&display=swap');

html {
  font-family: 'Noto Sans', 'Noto Sans Japanese', Arial, Helvetica, sans-serif;
}

.dark {
  background-color: #2d3748;
  color: #ffffff;
}

/* Pages Style - Common */
@import './common/alignment.css';
@import './common/spacing.css';

/* Components */
@import './components/Image.css';
@import './components/ColumnSplitter.css';
@import './components/LinkList.css';
@import './components/RichText.css';
@import './components/Navigation.css';
@import './components/LocaleSelector.css';
@import './components/breadcrumb.css';
@import './components/Title.css';
